@font-face {
	/*フォントの名前*/
	font-family: "mouhitu";
	/*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
	src: url("../fonts/mouhitu.woff2") format("woff2"),
		url("../fonts/mouhitu.woff") format("woff");
}
.mamelonClass {
	font-family: "mamelon";
}

html {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	font-family: "Yuji Syuku";
	margin: 0;
	width: 100%;
	height: 100%;
}

section {
	width: 100%;
}

/* トップタイトル ID指定はYoutube背景のためのjs操作 */
#container {
	position: relative; /*ローディング画像などを表示す際の基点とするため指定*/
	text-align: center;
	background: black;
	height: 90vh;
	overflow: hidden;
}

#loading.disappear {
	display: none;
}

/*jQueryで付与されたappearクラスがついたらYoutubeエリアをふわっと表示*/
#youtube-area.appear {
	animation-name: PageAnimeAppear;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes PageAnimeAppear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#youtube-area {
	z-index: 1; /*最背面に設定*/
	height: auto;
}

#player {
	/*天地中央配置*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*縦横幅指定*/
	width: 177.77777778vh;
	height: 56.25vw;
	min-height: 100%;
	min-width: 100%;
}

#youtube-mask {
	position: absolute;
	z-index: 2; /*下から2番目に表示*/
	top: 0;
	width: 100%;
	height: 100%;
}

#loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
}

#title-box {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 2; /*下から2番目に表示*/
	/*天地中央配置*/
}

.youtube-title-mask {
	position: absolute;
	top: 0;
	width: 100%;
	background: black;
	height: 40px;
}

.catch-container-box {
	width: 100vw;
	height: 0;
	position: relative;
}

.catch-container {
	position: absolute;
	top: 200px;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	z-index: 2;
}

.top-title {
	padding: 20px;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 20px;
}

.top-title > h1 {
	background-image: linear-gradient(
		135deg,
		#b8751e 0%,
		#ffce08 37%,
		#fefeb2 47%,
		#fafad6 50%,
		#fefeb2 53%,
		#e1ce08 63%,
		#b8751e 100%
	);
	-webkit-background-clip: text;
	color: transparent;
	font-size: 32px;
	font-family: "mouhitu";
}

.fuzi-bridge-illust {
	position: absolute;
	bottom: 0;
	background: no-repeat bottom;
	background-image: url(../assets/illust/fuzi-gray1.png);
	background-size: contain;
	background-color: rgba(0, 0, 0, 0.01);
	width: 100%;
	height: 100px;
	border-bottom: 10px solid gray;
}

/* キャッチコピー */
.catch-copy {
	background: black;
	width: 100%;
	height: 500px;
	color: rgb(240, 240, 240);
	text-align: start;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	position: relative;
}

.catch-copy .catch-copy-box {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	z-index: 2;
}

.catch-copy-box p {
	line-height: 40px;
	margin: 0 20px;
}

.font-gold {
	background-image: linear-gradient(
		135deg,
		#b8751e 0%,
		#ffce08 37%,
		#fefeb2 47%,
		#fafad6 50%,
		#fefeb2 53%,
		#e1ce08 63%,
		#b8751e 100%
	);
	-webkit-background-clip: text;
	color: transparent;
}
