@font-face {
	/*フォントの名前*/
	font-family: "mouhitu";
	/*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
	src: url("../fonts/mouhitu.woff2") format("woff2"),
		url("../fonts/mouhitu.woff") format("woff");
}
.mamelonClass {
	font-family: "mamelon";
}

html {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	font-family: "Yuji Syuku";
	background: black;
	margin: 0;
	width: 100%;
	height: 100%;
}

section {
	width: 100%;
}

/* トップタイトル ID指定はYoutube背景のためのjs操作 */
#container {
	position: relative; /*ローディング画像などを表示す際の基点とするため指定*/
	text-align: center;
	height: 90vh;
	overflow: hidden;
}

#loading.disappear {
	display: none;
}

/*jQueryで付与されたappearクラスがついたらYoutubeエリアをふわっと表示*/
#youtube-area.appear {
	animation-name: PageAnimeAppear;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes PageAnimeAppear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#youtube-area {
	z-index: 1; /*最背面に設定*/
	height: auto;
}

#player {
	/*天地中央配置*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	/*縦横幅指定*/
	width: 177.77777778vh;
	/* height: 56.25vw; */
	/* width: 100vh; */
	min-height: 100%;
	min-width: 100%;
}

#youtube-mask {
	position: absolute;
	z-index: 2; /*下から2番目に表示*/
	top: 0;
	width: 100%;
	height: 100%;
}

#loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	font-weight: bold;
}

#title-box {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 2; /*下から2番目に表示*/
	/*天地中央配置*/
}

.youtube-title-mask {
	position: absolute;
	top: 0;
	width: 100%;
	background: black;
	height: 40px;
}

.catch-container-box {
	width: 100%;
	position: relative;
}

.catch-container {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transition: -webkit-transform translate(-50%, -50%);
	/* -webkit-transform: translate(-50%, -50%); */
	-ms-transform: translate(-50%, -50%);
	z-index: 2;
}

.top-title {
	padding: 20px;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 20px;
}

.top-title > h1 {
	background-image: linear-gradient(
		135deg,
		#b8751e 0%,
		#ffce08 37%,
		#fefeb2 47%,
		#fafad6 50%,
		#fefeb2 53%,
		#e1ce08 63%,
		#b8751e 100%
	);
	-webkit-background-clip: text;
	color: transparent;
	font-size: 32px;
	font-family: "mouhitu";
}

.title-top-illust {
	position: absolute;
	top: 0px;
	background: no-repeat bottom;
	background-position: top;
	background-image: url(../assets/illust/title-top.png);
	background-size: contain;
	width: 100%;
	height: 20vw;
	border-top: 4px solid gray;
}

.fuzi-bridge-illust {
	position: absolute;
	bottom: 0;
	background: no-repeat bottom;
	background-image: url(../assets/illust/title-under.png);
	background-position: bottom;
	/* background-color: rgba(0, 0, 0, 0.01); */
	background-size: contain;
	width: 100%;
	height: 20vw;
	border-bottom: 4px solid gray;
}

/* キャッチコピー */
.catch-copy {
	width: 100%;
	height: 500px;
	color: rgb(240, 240, 240);
	text-align: start;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	position: relative;
}

.catch-copy .catch-copy-box {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	z-index: 2;
}

.catch-copy-box p {
	line-height: 40px;
	margin: 0 20px;
}

.font-gold {
	background-image: linear-gradient(
		135deg,
		#b8751e 0%,
		#ffce08 37%,
		#fefeb2 47%,
		#fafad6 50%,
		#fefeb2 53%,
		#e1ce08 63%,
		#b8751e 100%
	);
	-webkit-background-clip: text;
	color: transparent;
}

.img1 {
	/* background-image: url(../assets/img/thumbnails/meia.JPG); */
	background: white;
	background-size: cover;
}

.img2 {
	/* background-image: url(../assets/img/thumbnails/a1a.JPG); */
	background: green;
	background-size: cover;
}

.img3 {
	/* background-image: url(../assets/img/thumbnails/p1a.JPG); */
	background: blue;
	background-size: cover;
}

.img4 {
	/* background-image: url(../assets/img/thumbnails/r2a.JPG); */
	background: yellow;
	background-size: cover;
}

.img5 {
	/* background-image: url(../assets/img/thumbnails/h3a.JPG); */
	background: crimson;
	background-size: cover;
}

.img6 {
	/* background-image: url(../assets/img/thumbnails/a2a.png); */
	background: seagreen;
	background-size: cover;
}

.garary-container {
	width: 100%;
	background: black;
	display: flex;
	justify-content: center;
}

.garary-list {
	padding: 0.2rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.garary-list > div {
	width: 30vw;
	height: 30vw;
	margin: 0.4vw;
}

.section-title {
	display: flex;
	align-items: center;
	color: rgb(210, 210, 210);
	position: relative;
}

.section-title > div {
	position: absolute;
	top: 50%;
	left: 50%;
	display: inline;
	transform: translate(-50%, -50%);
	writing-mode: vertical-rl;
}

.section-title h3 {
	white-space: nowrap;
}

.section-title h3::after {
	content: "";
	display: inline-block;
	background: url(../assets/illust/title-flame-02.png);
	background-size: cover;
	width: 30vw;
	height: 30vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	z-index: -1;
}

/* .section-title > .moon-icon {
	display: flex;
	align-items: center;
	margin: 0.4rem;
}
.section-title > .moon-icon::before {
	content: " ";
	display: inline-block;
	width: 2rem;
	height: 2rem;
	margin-bottom: -2.2rem;
	border-radius: 50%;
	background: #c59d00;
	border: 2px solid #ffce08;
} */

/* .section-title > .moon-icon::after {
	content: " ";
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	border-radius: 50%;
	background: black;
	border: 2px solid #ffce08;
} */
